path{
    stroke:#ccc;
    stroke-width: 5px;
    fill:none;
}

.row{
    width: 100%;
}

.carousel-caption{
    background: rgba(0,0,0,0.5);
    right: 0%;
    left: 0%;
    padding-bottom: 6%;
    bottom:0%;
}

.carousel-indicators {
    bottom: 3%;
}

.fake_column {
    background-color: grey;
}

#title {
    margin-top: 6%;    
    margin-bottom: 4%;
}

#title p{
    font-size: larger;
    color: darkgray;
}

#cover img{
    width: 100%;
}

#section1-text{
    margin-top: 5%;
    margin-bottom: 5%;
}

#drawing_area{
    margin-top: 6%;    
}

#detail_text{
    
    color: white;
    top: 15%;
    width: inherit;
    
}

#invisible{
    visibility: hidden;
}

#deadpoolv4_invisible{
    visibility: hidden;
}